/.idea
/dist
/node_modules
/npm-debug.log
npm-debug.log.*
/bower_components
/stubtridion/.tmp
/reports
/docs
/karma-reports
/oca-vars.scss
tmpFile.txt
in.txt
out.txt
/built
/coverage
.sonar
/aab-oda-pipeline
sonar-project.properties